body {
    background-color: #f7f7f8;
}

/* 公共样式 */
.red {
    color: #cf4444;
}

.pannel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-family: 微软雅黑;
}

/* 主体内容 */
.main {
    /* 80px,为了内容不被底部区域盖住 */
    padding: 12px 11px 80px;
}

/* 用户信息 */
.user_msg {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 11px;
}

.user_msg .location {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.user_msg .user {
    flex: 1;
}

.user_msg .user .top {
    display: flex;
}

.user_msg .user .top h4 {
    width: 55px;
}

.user_msg .user .bottom {
    margin-top: 5px;
    font-size: 12px;
}

.user_msg .more {
    width: 44px;
    height: 44px;
    background-color: pink;
    text-align: center;
    line-height: 44px;
    color: #808080;

}


/* 商品介绍 */
.product {
    display: flex;
    align-items: center;
}

.product .img {
    width: 116px;
    height: 128px;
    margin-top: 10px;

}

.product .Products p {
    padding: 0 10px 0 12px;
    font-size: 14px;
    color: #000;

}

.product .Products p:nth-child(3) {
    padding: 5px 15px;
    font-size: 12px;
    color: #808080;
}

.product .Products span {
    padding: 0 10px 0 12px;

}

.product .num {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* 快递信息 */
.express div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.express div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.express div:nth-child(2) p {
    padding: 0 20px;
}

.express div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* 产品价格 */
.jiage div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}

.jiage div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}

.jiage div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}


/* 底部支付 */
.pay {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 11px;

    width: 100%;
    height: 80px;
    /* background-color: pink; */
    border: 1px solid #ededed;
}

.pay .l {
    font-size: 12px;

}

.pay .l i {
    font-size: 20px;

    font-weight: 700;
}

.pay .r a {
    display: block;
    width: 90px;
    height: 35px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
    color: #fff;
}